<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rarus.eatery"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Rarus_style" >
        <activity
            android:name=".activity.SlidingMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".service.EateryWebService"></service>
        <activity android:name=".activity.SettingsActivity" >
        </activity>
         <activity android:name=".activity.DishPageViewActivity" >
        </activity>
    </application>

</manifest>